# Local Development Environment
PORT=
HOSTNAME=

# CORS
CORS_ORIGIN=

# PostgreSQL Database
# PostgreSQL Connection URI follows the general form: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
# See https://www.postgresql.org/docs/10/libpq-connect.html#id-1.7.3.8.3.6
DATABASE_URL=
DIRECT_URL=

# JSON Web Token
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRE_TIME=
ACCESS_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRE_TIME=
REFRESH_TOKEN_COOKIE_NAME=

# Cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=

# PayPal
SANDBOX_BASE_URL=
LIVE_BASE_URL=
CLIENT_ID=
CLIENT_SECRET=
